################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocalGovtReporter/LocalGovtReporter.csproj.user
/LocalGovtReporter/bin/Debug/netcoreapp3.1/WebDriver.Support.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/WebDriver.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/System.ServiceModel.Syndication.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/System.IO.Packaging.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/LocalGovtReporter.runtimeconfig.json
/LocalGovtReporter/bin/Debug/netcoreapp3.1/LocalGovtReporter.runtimeconfig.dev.json
/LocalGovtReporter/bin/Debug/netcoreapp3.1/LocalGovtReporter.pdb
/LocalGovtReporter/bin/Debug/netcoreapp3.1/LocalGovtReporter.exe
/LocalGovtReporter/bin/Debug/netcoreapp3.1/LocalGovtReporter.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/LocalGovtReporter.deps.json
/LocalGovtReporter/bin/Debug/netcoreapp3.1/itextsharp.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/DocumentFormat.OpenXml.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/chromedriver.exe
/LocalGovtReporter/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/AWSSDK.DynamoDBv2.dll
/LocalGovtReporter/bin/Debug/netcoreapp3.1/AWSSDK.Core.dll
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.pdb
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.genruntimeconfig.cache
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.dll
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.csprojAssemblyReference.cache
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.csproj.FileListAbsolute.txt
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.csproj.CoreCompileInputs.cache
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.csproj.CopyComplete
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.assets.cache
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.AssemblyInfoInputs.cache
/LocalGovtReporter/obj/Debug/netcoreapp3.1/LocalGovtReporter.AssemblyInfo.cs
/LocalGovtReporter/obj/Debug/netcoreapp3.1/apphost.exe
/LocalGovtReporter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/LocalGovtReporter/obj/project.nuget.cache
/LocalGovtReporter/obj/project.assets.json
/LocalGovtReporter/obj/LocalGovtReporter.csproj.nuget.g.targets
/LocalGovtReporter/obj/LocalGovtReporter.csproj.nuget.g.props
/LocalGovtReporter/obj/LocalGovtReporter.csproj.nuget.dgspec.json
/.vs/LocalGovtReporter/v16/.suo
